<header class="p-4">
    <h1 class="text-2xl">Book list</h1>
</header>

<%= render partial: "shared/flash", locals: {flash: flash} %>

<div class="p-4">
  <%= render partial: "buttons/add", locals: {title: "Add book", url: add_book_path } %>
</div>

<section class="p-4">
  <%= render partial: 'table', locals: {books: @books} %>
</section>

<div class="p-4">
  <%= render partial: "buttons/back", locals: {title: "Back to Home", url: home_path } %>
</div>